.index-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  &__left-col,
  &__right-col {
    flex-basis: 47%;
  }

  &__left-col--narrow,
  &__right-col--narrow {
    flex-basis: 39%;
    
    @media (max-width: $phablet-width) {
      flex-basis: 43%;
    }
    
    @media (max-width: $mobile-width) {
      flex-basis: 100%;
    }
  }
  
  &__right-col--narrow {
    @media (max-width: $phablet-width) {
      flex-basis: 41%;
    }
    
    @media (max-width: $mobile-width) {
      flex-basis: 100%;
    }
  }

  &__left-col {
    margin-right: 40px;
  }

  &__left-col--narrow {
    margin-right: 160px;
    
    @media (max-width: $phablet-width) {
      margin-right: 85px;
    }
    
    @media (max-width: $mobile-width) {
      margin: 0 0 40px 0;
    }
  }

  &__btn {
    margin-top: 10px;
  }
}
