.main-nav {
  padding: 30px 0;
  border-bottom: 1px solid #757575;

  &__wrapper {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 40px;

    &--active {
      a {
        color: $success-color;
      }
    }
  }
}
