<form class="feedback__form" action="https://echo.htmlacademy.ru" method="post">
  <div class="feedback__form--align  fields">
    <p class="fields__option">
      <input class="fields__input  input-error  js-input" id="name" type="text" name="imyarek" required>
      <label class="fields__label  js-label" for="name">Сергей Сергеевич</label>
    </p>
    <p class="fields__option">
      <input class="fields__input  input-error  js-input" id="phone" type="text" name="telefono" required>
      <label class="fields__label  js-label" for="phone">+7 812 310-14-88</label>
    </p>
    <button class="btn  btn--red  feedback__btn" type="submit">Отправить</button>
  </div>
  <small class="feedback__small-text  small-text">
    Оставляя заявку, вы&nbsp;даете согласие на&nbsp;обработку персональных данных.
  </small>
  <input class="no-display" type="text" name="antispamname">
  <input class="no-display" type="text" name="antispamphone">
</form>
