<footer class="page-footer">
  <div class="container">
    <div class="page-footer__wrapper">
      <div class="page-footer__top">
        <p class="contacts  page-footer__contacts">Санкт-Петербург</p>

        <div class="index-column">
          <a class="contacts  page-footer__contacts" href="tel:88123099794">8 812 310-14-88</a>
          <p class="page-footer__time">9:00 — 19:00</p>
          <a class="contacts  contacts--normal  page-footer__popup  js-btn-show-modal-feedback" href="/">Перезвоните мне</a>
        </div>
        <a class="contacts  page-footer__contacts" href="mailto:info@zpos.ru">info@test.ru</a>

        <div class="page-footer__social  social">
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link  social__link--vk" href="https://vk.com" target="_blank" rel="nofollow">
                <span class="visually-hidden">Мы в Вконтакте</span>
                <svg width="26" height="15">
                  <use xlink:href="#icon-vk"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link  social__link--ok" href="https://vk.com" target="_blank" rel="nofollow">
                <span class="visually-hidden">Мы в Одноклассниках</span>
                <svg width="25" height="25">
                  <use xlink:href="#icon-ok"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link  social__link--facebook" href="https://www.facebook.com/" target="_blank"
                 rel="nofollow">
                <span class="visually-hidden">Мы в Facebook</span>
                <svg width="12" height="22">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link  social__link--instagram" href="https://www.instagram.com/" target="_blank"
                 rel="nofollow">
                <span class="visually-hidden">Мы в Instagram</span>
                <svg width="22" height="22">
                  <use xlink:href="#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__link  social__link--youtube"
                 href="https://www.youtube.com/" target="_blank" rel="nofollow">
                <span class="visually-hidden">Мы в Youtube</span>
                <svg width="27" height="27">
                  <use xlink:href="#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="page-footer__nav">
        <ul class="page-footer__list  site-list-bottom">
          <li class="site-list-bottom__item"><a href="/">Лазерная резка</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка фанеры</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка оргстекла</a></li>
        </ul>
        <ul class="page-footer__list  site-list-bottom">
          <li class="site-list-bottom__item"><a href="/">Лазерная резка</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка фанеры</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка оргстекла</a></li>
        </ul>
        <ul class="page-footer__list  site-list-bottom">
          <li class="site-list-bottom__item"><a href="/">Лазерная резка</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка фанеры</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка оргстекла</a></li>
        </ul>
        <ul class="page-footer__list  site-list-bottom">
          <li class="site-list-bottom__item"><a href="/">Лазерная резка</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка фанеры</a></li>
          <li class="site-list-bottom__item"><a href="/">Лазерная резка оргстекла</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Modals -->
<div class="modal__overlay  js-modal-overlay"></div>
<section class="modal  modal__feedback  js-modal-feedback">
  <h2 class="visually-hidden">Напишите нам</h2>
  <form class="modal__form  js-modal-form" action="https://echo.htmlacademy.ru" method="post">
    <div class="index-column">
      <p class="modal__item  modal__item--input">
        <label for="modal-name">Ваше имя:</label>
        <input id="modal-name" type="text" name="imyarek" placeholder="Имя Фамилия">
      </p>
      <p class="modal__item  modal__item--input">
        <label for="modal-email">Ваш e-mail:</label>
        <input id="modal-email" type="email" name="pochta" placeholder="email@example.com">
      </p>
    </div>
    <p class="modal__item  modal__item--textarea">
      <label for="modal-text">Текст письма:</label>
      <textarea id="modal-text" name="commento" cols="30" rows="5" placeholder="В свободной форме"></textarea>
    </p>
    <div class="modal__btn-wrapper">
      <button class="btn  btn--red  modal__btn" type="submit">Отправить</button>
    </div>
  </form>
  <button class="modal__close" type="button"><span class="visually-hidden">Закрыть</span></button>
</section>

<script src="/js/libs/libs.min.js"></script>
<!--<script src="/js/backend.js"></script>
<script src="/js/main.js"></script>-->
<script src="/js/main.min.js"></script>
