
<!-- Modals -->
<div class="modal__overlay  js-modal-overlay"></div>
<section class="modal  modal__feedback  js-modal-feedback">
  <h2 class="visually-hidden">Напишите нам</h2>
  <form class="modal__form  js-modal-form" action="https://echo.htmlacademy.ru" method="post">
    <div class="index-column">
      <p class="modal__item  modal__item--input">
        <label for="modal-name">Ваше имя:</label>
        <input id="modal-name" type="text" name="imyarek" placeholder="Имя Фамилия">
      </p>
      <p class="modal__item  modal__item--input">
        <label for="modal-email">Ваш e-mail:</label>
        <input id="modal-email" type="email" name="pochta" placeholder="email@example.com">
      </p>
    </div>
    <p class="modal__item  modal__item--textarea">
      <label for="modal-text">Текст письма:</label>
      <textarea id="modal-text" name="commento" cols="30" rows="5" placeholder="В свободной форме"></textarea>
    </p>
    <div class="modal__btn-wrapper">
      <button class="btn  btn--red  modal__btn" type="submit">Отправить</button>
    </div>
  </form>
  <button class="modal__close" type="button"><span class="visually-hidden">Закрыть</span></button>
</section>

<script src="/js/libs/libs.min.js"></script>
<!--<script src="/js/backend.js"></script>
<script src="/js/main.js"></script>-->
<script src="/js/main.min.js"></script>
